<div>
  <%= link_to "Show this list", @list %> |
  <%= link_to "Back to board", @list.board %>
</div>
<br>
<div class="card">
  <div class="card-header">
    <h4 class="card-title">Editing list</h4>
  </div>
  <div class="card-body">
    <%= render "form", list: @list %>
  </div>
</div>