<div class="card">
    <div class="card-body">
        <canvas id=myChart width="400" height="100" data-controller="dashboard" data-dashboard-data-value="<%= @dashboard.to_json%>"></canvas>
    </div>
</div>