<div class="card">
  <div class="card-header">
    <% unless title == "" %>
      <h4 class="card-title"><%= title %></h4>
    <% end %>
  </div>
  <div class="card-body">
    <% if content %> 
      <%= content %>    
    <% end %>
  </div>
</div>