<div>
  <%= link_to "Show this label", @label %> |
  <%= link_to "Back to board", @label.board %>
</div>
<br>
<div class="card">
  <div class="card-header">
    <h4 class="card-title">Editing label</h4>
  </div>
  <div class="card-body">
    <%= render "form", label: @label %>
  </div>
</div>