<p style="color: green"><%= notice %></p>
<div>
  <%= link_to "Back to board", @label.board %>
</div>
<br />
<% label_content = render @label %>
<%= render "components/card",  content: label_content, title: "Label"%>