<p style="color: green"><%= notice %></p>
<%= link_to "New user", new_user_path %>
<br /><br />
<% table = render "components/table",  elements: @users, headers: ["key", "token"]  %>
<%= render "components/card_table",  table: table, title: "Users"  %>