<p style="color: green"><%= notice %></p>
<%= link_to "New analysis", new_analysis_path %>
<br /><br />
<% table = render "components/table",  elements: @analyses, headers: ["name", "board_id", "pre_planning", "pos_planning", "start_date", "end_date", "status"]  %>
<%= render "components/card_table",  table: table, title: "Analyses"  %>