<div>
  <%= link_to "Back to recurrent card", @recurrent_card %>
</div>
<br />
<% form = render "form", recurrent_card: @recurrent_card %>
<%= render "components/card", content: form, title: "Editing recurrent card" %>