<div>
  <%= link_to "Back to recurrent cards", recurrent_cards_path %>
</div>
<br />
<% form = render "form", recurrent_card: @recurrent_card %>
<%= render "components/card", title: "New recurrent card", content: form %>