<p style="color: green"><%= notice %></p>
<% table = render "components/table",  elements: @boards, headers: ["name", "trello_id", "user_id"]  %>
<%= render "components/card_table",  table: table, title: "Boards"  %>
